:root {
	--raisin-black: #231717;
	--dark-lava: #48392a;
	--cream: #fcffd2;
	--ivory: #ffffee;
	--russian-green: #5e8c61;
	--dark-green: rgb(42, 62, 44);
	--capri: #30C5FF;
	--leather: #2d2116;
}
* {
	padding: 0;
	margin: 0;
}
html {
	color: var(--raisin-black);
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
}
p {
	font-family: 'Inter Tight', sans-serif;
	margin-top: 5px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a:hover h3{
	color: var(--capri);
}

h2,h3,h4,h5,h6 {
	color: var(--russian-green);
}
header {
	background-color: #fdffe0;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#logo {
	font-size: xx-large;
	margin-bottom: -11px;
}
.brand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Abril Fatface", serif;
	font-size: x-large;
	margin-left: 10px;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
nav li {
	list-style-type: none;
	width: min-content;
	margin: 10px;
}

nav li:hover {
	font-weight: bold;
}

#hero {
	font-size: xx-large;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--ivory);
	background-image: url("./assets/chess.gif");
	background-size: cover;
	background-position: center;
	height: 50vh;
	box-shadow: inset 0px -30px 50px rgba(0, 0, 0, 1);
}
#hero * {
	font-family: "Abril Fatface", serif;
}
section {
	padding: 40px 0;
}
#about {
	text-align: center;
	background-color: var(--ivory);
	color: var(--raisin-black);
}
#about h1 {
	font-size: 4rem;
	font-family: "Abril Fatface", serif;
	margin: 10px;
}
#about h2 {
	letter-spacing: 1px;
}
#about ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#about li {
	width: 195px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
main {
	min-width: fit-content;
	margin: 0 auto;
}

.product-display {
	text-align: center;
	padding: 20px 20px;
	box-shadow: 0px 10px 20px inset rgba(0, 0, 0, 0.3);
}

.product-display:nth-of-type(2n-1) {
	color: var(--ivory);
	background-color: var(--dark-lava);
}

.product-display:nth-of-type(2n) {
	color: var(--leather);
	background-color: var(--cream);
}

.product-display ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;

	list-style-type: none;
	margin-top: 15px;
}

.item-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 300px;
	margin: 10px 1vw;
	border: 1px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--ivory);
	color: var(--raisin-black);
}
.item-content {
	padding: 0px 40px 20px 40px;
	text-align: left;
	height: max-content;
}
.img-wrapper {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	width: 100%;
	height: auto;
}
.img-wrapper:hover img {
	transform: scale(1.1);
}

.add-to-cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	padding-top: 20px;
}

button {
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 12px;
	margin: 10px;
	background-color:var(--russian-green);
	color: var(--ivory);
	font-weight: bold;
	font-family: 'Inter Tight', sans-serif;
}

button:active {
	background: var(--dark-green);
	box-shadow: none;
}
button:hover {
	background-color: var(--dark-green);
}
.item-card, button {
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

img {
	transition: all 1.3s ease-in;
	width: 100%;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: var(--leather);
}
.inverted {
	filter: invert(1);
}
