* {
	padding: 0;
	margin: 0;
}
html {
	color: 3f3f3f;
}
header {
  background-color: #fdffe0;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
#logo {
  font-size: xx-large;
}
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin-left: 10px;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
nav ul li {
	list-style-type: none;
	width: min-content;
	margin: 10px;
}
#hero {
	font-size: xx-large;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background-image: url("./assets/chess.gif");
	background-size: cover;
	background-position: center;
	height: 50vh;
}
section {
	padding: 40px 0;
}
#about {
	text-align: center;
}
#about ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#about li {
	width: 195px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
main {
	min-width: fit-content;
	margin: 0 auto;
}

.product-display {
	text-align: center;
	padding: 20px 20px;
  box-shadow: 0px 10px 20px inset rgba(0, 0, 0, .1);
}
.product-display:nth-of-type(2n-1) {
	background-color: #b7b7b6;
}
.product-display:nth-of-type(2n-1) li {
	color: white;
	background-color: #413c35;
}
.product-display:nth-of-type(2n) {
	color: #3a3b31;
	background-color: #fdffe0;  
}

.product-display ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	list-style-type: none;
}

.product-display li {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: min-content;
	margin: 10px 1.5vw;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 15px;

	box-shadow: 0px 2px 15px rgba(0, 0, 0, .4);
}
.add-to-cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	padding-top: 20px;
}
button {
	padding: 5px;
}

img {
	width: 200px;
	height: 200px;
	margin: 10px;
	transition: all .3s ease-in-out;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: #2d2116;
}
.inverted {
	filter: invert(1);
}
